In [1]:
from bs4 import BeautifulSoup as bs
import requests
from time import sleep

In [2]:
# from splinter import Browser
# executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
# browser = Browser("chrome", **executable_path, headless=True)

In [3]:
import os
from selenium import webdriver
from splinter import Browser

def init_browser():
    driver_path = os.environ.get('GOOGLE_CHROME_SHIM', None)
    chrome_options = webdriver.ChromeOptions()
    chrome_options.binary_location = driver_path
    chrome_options.add_argument('no-sandbox')
    chrome_options.add_argument('--headless')
    return Browser('chrome', executable_path="chromedriver", options=chrome_options, headless=True)

browser = init_browser()

In [4]:
nasa_url = 'https://mars.nasa.gov/news/'
browser.visit(nasa_url)

In [5]:
nasa_xpath1 = '//*[@id="page"]/div[2]/div/article/div/section/div/ul/li[1]/div/div/div[2]/a'
resultx = browser.find_by_xpath(nasa_xpath1)
print(resultx[0].text)

NASA's InSight Places First Instrument on Mars

In [6]:
# xpath works, trying with .find
#
#

In [7]:
nasa_soup = bs(browser.html, 'lxml')

In [8]:
news_title = nasa_soup.find("div", class_="content_title").find("a").text
print(news_title)

NASA's InSight Places First Instrument on Mars

In [9]:
news_p = nasa_soup.find("div", class_="article_teaser_body").text
print(news_p)

In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

In [10]:
# requests no splinter doesn't work, gives old title
#
# nasa_url = 'https://mars.nasa.gov/news/'
# nasa_response = requests.get(nasa_url)
# nasa_soup = bs(nasa_response.text, 'lxml')
# news_title = nasa_soup.find("div", class_="content_title").find("a").text
# print(news_title)

In [11]:
### JPL picture scrape
#
#

In [12]:
#browser = Browser("chrome", **executable_path, headless=False)
jpl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl)

In [13]:
# jpl_xpath1 = '//*[@id="full_image"]'
# full_image = browser.find_by_xpath(jpl_xpath1)
# print(full_image)
# full_image[0].click()
# sleep(1)

In [14]:
browser.click_link_by_partial_text('FULL IMAGE')
sleep(1)

In [15]:
# jpl_xpath2 = '//*[@id="fancybox-lock"]/div/div[2]/div/div[1]/a[2]'
# more_info = browser.find_by_xpath(jpl_xpath2)
# more_info.click()
# sleep(1)

In [16]:
browser.click_link_by_partial_text('more info')
sleep(1)

In [17]:
full_res = browser.click_link_by_partial_text('.jpg')

In [18]:
html = browser.html
jpl_soup = bs(html, 'lxml')
img_url = jpl_soup.find("img")["src"]
img_url

'https://photojournal.jpl.nasa.gov/jpeg/PIA18905.jpg'

In [19]:
from IPython.display import Image
Image(url=img_url)

In [20]:
# Tweet Scrape
#
#

In [21]:
twitter_url = 'https://twitter.com/marswxreport?lang=en'
twitter_response = requests.get(twitter_url)
twitter_soup = bs(twitter_response.text, 'lxml')

In [22]:
tweet_text = twitter_soup.find\
('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(tweet_text)

Sol 2291 (2019-01-16), high -8C/17F, low -70C/-93F, pressure at 8.23 hPa, daylight 06:46-18:55pic.twitter.com/IRiqxlJqvT

In [23]:
# Mars Facts 
#
#

In [24]:
import pandas as pd
facts_url = "http://space-facts.com/mars/"
facts_table = pd.read_html(facts_url)
facts_table

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xb

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [25]:
facts_df = facts_table[0]
facts_df.columns = ["Description", "Values"]
#facts_df.rename(columns={0: 'Description', 1: 'Values'}, inplace=True)
facts_df.set_index('Description', inplace=True)
facts_df

                                             Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [26]:
html_table = facts_df.to_html()
html_table.replace('\n', '')
facts_df.to_html('html_table.html')

In [27]:
# !open html_table.html

In [28]:
hemisphere_image_urls = []

usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
#browser = Browser("chrome", **executable_path, headless=False)
browser.visit(usgs_url)

In [29]:
usgs_soup = bs(browser.html, 'lxml')
image_titles = usgs_soup.find_all("h3")

for title, x in zip(image_titles, range(1, 5)):
        browser.click_link_by_partial_text(title.text)
        browser.click_link_by_partial_href('.jpg')
        img_url = browser.windows[x].url
        browser.windows[0]
        browser.back()
        hemisphere_image_urls.append({"title": title.text, "img_url": img_url})

In [30]:
hemisphere_image_urls

[]